.sidebar {
  background: #0057b8;
  color: #fff;
  width: 230px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: width 0.3s ease;
  position: relative;
}

.closed {
  width: 70px;
}

.toggleBtn {
  position: absolute;
  top: 10px;
  right: -16px;
  background: #ffffff;
  color: #0057b8;
  border: none;
  border-radius: 50%;
  border: 1px solid #0057b8;
  cursor: pointer;
  width: 32px;
  height: 32px;
  font-weight: bold;
  z-index: 16;
  font-size: 18px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 70px 10px 0 10px;
}

.item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 12px;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.2s ease;
  position: relative;
}

.item:hover {
  background: rgba(255, 255, 255, 0.15);
}


.active {
  background: rgba(255, 255, 255, 0.25);
  font-weight: 600;
}

.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 4px;
  background: #ffd700;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.bottom {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contact,
.logout {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: opacity 0.2s;
}

.contact:hover,
.logout:hover {
  opacity: 0.8;
}
