.layout {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #f7f9fc;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}
